

params {

    samplesheet = ''
    downsample = true
    output_path = './'
    cluster = true
    cluster_full = false
    score_markers = false
}

profiles {
    standard {
        process.executor = 'local'
        docker.enabled = false
        singularity.enabled = false
        apptainer.enabled = false
    }

    singularity {
        docker.enabled = false
        singularity.enabled = true
        apptainer.enabled = false
        process.container = 'babiddy755/xenium_tools_seurat:8cc6e79bd0575ed31a8a2c007831cfb053115a96' 
        process.executor = 'local'
    }

    docker {
        docker.enabled = true
        singularity.enabled = false
        apptainer.enabled = false
        process.container = 'babiddy755/xenium_tools_seurat:8cc6e79bd0575ed31a8a2c007831cfb053115a96'
        process.executor = 'local'
    }

    apptainer {
        docker.enabled = false
        singularity.enabled = false
        apptainer.enabled = true
        process.container = 'babiddy755/xenium_tools_seurat:8cc6e79bd0575ed31a8a2c007831cfb053115a96'
        process.executor = 'local'
        apptainer.pullTimeout = "30m"
    }

    oscer {
        process.executor = 'slurm'
        docker.enabled = false
        singularity.enabled = false
        apptainer.enabled = true
        process.container = 'babiddy755/xenium_tools_seurat:8cc6e79bd0575ed31a8a2c007831cfb053115a96'
        process.errorStrategy = 'retry'
        process.maxRetries = 3
        process.memory = { 32.GB * ( 1 + task.attempt) }
        process.cpus = 4
        process.queue = 'normal'
    }
}

trace {
    enabled = true
    file = "${params.output_path}/pipeline_info/execution_trace.txt"
    fields = 'task_id,hash,native_id,process,tag,name,status,exit,module,container,cpus,time,disk,memory,attempt,submit,start,complete,duration,realtime,queue,%cpu,%mem,rss,vmem,peak_rss,peak_vmem,rchar,wchar,syscr,syscw,read_bytes,write_bytes'
    overwrite = true
}

timeline {
    enabled = true
    file = "${params.output_path}/pipeline_info/execution_timeline.html"
    overwrite = true
}

report {
    enabled = true
    file = "${params.output_path}/pipeline_info/execution_report.html"
    overwrite = true
}

dag {
    enabled = true
    file = "${params.output_path}/pipeline_info/pipeline_dag.svg"
    overwrite = true
}

manifest {
    name = 'xenium_tools'
    author = 'Brent Biddy'
    homePage = 'https://github.com/yourusername/xenium_tools'
    description = 'Nextflow workflow to process 10x Genomics Xenium datasets'
    mainScript = 'main.nf'
    nextflowVersion = '>=21.04.0'
    version = '1.0.0'
}
