

params {

    samplesheet = ''
    downsample = true
    build_seurat = false
    output_path = './'
    cluster = false
    notebook = false
}

profiles {
    standard {
        process.executor = 'local'
        docker.enabled = false
        singularity.enabled = false
        apptainer.enabled = false
    }

    singularity {
        docker.enabled = false
        singularity.enabled = true
        apptainer.enabled = false
        process.container = { "${projectDir}/envs/images/seurat.sif" }
    }

    docker {
        docker.enabled = true
        singularity.enabled = false
        apptainer.enabled = false
        process.container = { "${projectDir}/envs/images/seurat.sif" }
    }

    apptainer {
        docker.enabled = false
        singularity.enabled = false
        apptainer.enabled = true
        process.container = { "${projectDir}/envs/images/seurat.sif" }
    }

    oscer {
        process.executor = 'slurm'
        docker.enabled = false
        singularity.enabled = false
        apptainer.enabled = true
        process.container = { "${projectDir}/envs/seurat.sif" }
        errorStrategy = 'ignore'
        maxRetries = 3
        memory = { 32.G * task.attempt }
        cpus = 4
        time = { 30.m * task.attempt }
    }
}

